<template>
    <div>
        <input type="range" min="0" max="100" step="1" v-model="selectCharge" class="slider" id="myRange">
        <p>{{selectCharge}} % of charge</p>
        <p>Max consumption : {{consoMax}} | Actual consumption : {{actualConso}} </p>
        <br><br>
    </div>
</template>

<script>
    export default {
        name: "Consumer",
        props: {
            selectCharge: {
                type: Number,
                require: true
            },
            consoMax: {
                type: Number,
                require: true
            },
            actualConso: {
                type: Number,
                require: true
            }
        }
    }
</script>

<style scoped>

    /* The slider itself */
    .slider {
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        width: 50%; /* Full-width */
        height: 25px; /* Specified height */
        background: #d3d3d3; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;
    }

    /* Mouse-over effects */
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #4CAF50; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }

    .slider::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #4CAF50; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }
</style>