<template>
    <div>
        <table>
            <tr v-for="consumer in consumers" :key="consumer.id">
                <td>N° {{consumer.id}}</td>
                <td><input type="range" min="0" max="100" step="1" @change="calculActualConso" v-model="consumer.selectCharge" class="slider" id="myRange"></td>
                <td>{{consumer.selectCharge}} % of charge</td>
                <td>Max consumption : {{consumer.consoMax}} | Actual consumption : {{consumer.actualConso}} </td>
            </tr>
        </table>
        <br>
        <p>Charge : {{selectCharge}}</p>
        <input type="range" min="0" max="100" v-model="selectCharge">
        <p>Conso Max</p>
        <v-text-field solo type="number" v-model="consoMax"></v-text-field>
        <br><br>
        <v-btn v-on:click="addConsumer" color="info">Add Consumer</v-btn>
        <button ></button>
    </div>
</template>

<script>
    import {Consumer} from "@/data/Consumer";
    export default {
        name: "Consumers",
        data() {
            return{
                consumers: [],
                selectCharge: 0,
                consoMax: 0
            }
        },
        computed: {
            sortConsumes: function () {
                return this.$lodash.orderBy(this.consumers, [function(o) {
                    return o.expectedConso()}])
            }
        },
        methods: {
            addConsumer(){
                this.consumers.push(new Consumer({"selectCharge": this.selectCharge, "consoMax": this.consoMax, "actualConso": 0}))
                this.calculActualConso()
            },
            calculActualConso(){

                let actuProduction = this.$store.getters.maxEletrics
                let tProduction = 0
                let consosSort = this.sortConsumes
                let consosleft = consosSort.length

                for(let i = 0; i<consosSort.length; i++){
                    // Production max disponible par module
                    tProduction = (actuProduction / consosleft)

                    actuProduction -= consosSort[i].actualConso = this.$lodash.clamp(((tProduction * consosSort[i].selectCharge) / 100), consosSort[i].consoMax).toFixed(2)
                    consosleft--
                }

                this.$store.commit('setElectricConso', actuProduction)

            }
        }
    }
</script>

<style scoped>

</style>