<template>
    <v-tabs
            centered
            dark
            icons-and-text
    >
        <v-tabs-slider color="blue"></v-tabs-slider>

        <div v-for="(element, index) in constructionTab" :key="index">
            <v-tab :href="'#' + element.title">
                {{element.title}}
                <v-icon>{{element.icon}}</v-icon>
            </v-tab>
        </div>

        <v-tab-item
                v-for="element in constructionTab"
                :value="element.title"
        >
            <template v-for="(component, index) in element.composants">
                <component :is="component" :key="index"></component>
            </template>
        </v-tab-item>

    </v-tabs>
</template>

<script>

    import Exploitations from './Exploitation'
    import Housing from './Housing'
    import Power from './Power'

    export default {
        name: "Constructions",
        components: {
            Exploitations,
            Housing,
            Power
        },
        computed: {
            constructionTab: function () {
                return this.$store.getters.getConstructionState
            }
        }
    }
</script>

<style scoped>

</style>