<template>
    <v-flex>
        <v-btn @click="addEarthExtractor" color="success">Build an Earth Extractor</v-btn>
        <v-data-table
                :headers="headers"
                :items="listOfCreated"
                class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <td class="text-xs-center">{{ props.item.name }}</td>
                <td class="text-xs-center">{{ props.item.level }}</td>
                <td class="text-xs-center">{{ props.item.xp }}</td>
                <td class="text-xs-center">{{ props.item.occupants.length }}</td>
                <td class="text-xs-center">
                    <input type="range" min="0" max="100" step="1" @change="calculActualConso" v-model="props.item.selectCharge" class="slider" id="myRange">
                    {{props.item.selectCharge}}%
                </td>
                <td class="text-xs-center">{{props.item.actualConso}} / {{props.item.consoMax}} Kw</td>
                <td class="text-xs-center">+ {{props.item.mokaProduction()}} Moka/s</td>
                <td class="text-xs-center">
                    <v-btn @click="addOneWorker(props.item)" color="info">+1</v-btn>
                    <v-btn color="info">+10</v-btn>
                </td>
                <td class="text-xs-center">
                    <v-btn @click="removeEarthExtractor(props.item)" color="error">Destroy</v-btn>
                </td>
            </template>
            <template slot="no-data">
                <v-alert :value="true" color="error" icon="nature_people">
                    Sorry, you haven't any Earth Extractor
                </v-alert>
            </template>
        </v-data-table>
    </v-flex>
</template>

<script>
    import {EarthExtractor} from "../data/EarthExtractor";

    export default {
        name: "EarthExtractor",
        props: {
            id: Number,
        },
        data () {
            return {
                headers: [
                    { text: 'Name', value: 'Name', align: 'center' },
                    { text: 'Level', value: 'Level', align: 'center' },
                    { text: 'Xp', value: 'Xp', align: 'center' },
                    { text: 'Workers', value: 'Workers', align: 'center' },
                    { text: 'Power Charge', value: 'Power', align: 'center' },
                    { text: 'Power Consumption', value: 'Power Consumption', align: 'center' },
                    { text: 'Production', value: 'Production', align: 'center' },
                    { text: 'Assign worker', value: 'Assign worker', align: 'center' },
                    { text: 'Delete', value: 'Delete', align: 'center' },
                ]
            }
        },
        computed: {
            listOfCreated: function () {
                return this.$store.getters.getExploitationListOfCreated(this.id)
            },
            sortConsumes: function () {
                return this.$lodash.orderBy(this.listOfCreated, [function(o) {
                    return o.expectedConso()}])
            }
        },
        methods:{
            addEarthExtractor(){
                this.$store.commit('addExploitationCreatedToList', {id: this.id, item: new EarthExtractor()})
            },
            removeEarthExtractor(selected){
                for(let i in selected.occupants){
                    selected.occupants[i].isWorking = false
                }
                this.$store.commit('removeExploitationCreatedToList', {id: this.id, item: selected})
                this.calculActualConso()
            },
            addOneWorker(selected){
                //TODO: Peut être mettre une liste pour ceux qui travaillent et une pour les chomeurs ? à voir
                if(!selected.isFull()){
                    for(let i in this.$store.getters.getAutochthons){
                        let a = this.$store.getters.getAutochthons[i]
                        if(!a.isWorking){
                            a.isWorking = true
                            a.work = {idModule: this.id, id: selected.id}
                            selected.addOccupant(a)
                            break
                        }
                    }
                }
            },
            calculActualConso(){
                //TODO: Il faut mettre tous ces traitements dans les objets comme ça on peut les traiter ailleurs
                //que dans les composants
                let actuProduction = this.$store.getters.maxEletrics
                let tProduction = 0
                let consosSort = this.sortConsumes
                let consosleft = consosSort.length

                for(let i = 0; i<consosSort.length; i++){
                    // Production max disponible par module
                    tProduction = (actuProduction / consosleft)

                    actuProduction -= consosSort[i].actualConso = this.$lodash.clamp(((tProduction * consosSort[i].selectCharge) / 100), consosSort[i].consoMax).toFixed(2)
                    consosleft--
                }

                this.$store.commit('setElectricConso', actuProduction)

            }
        }
    }
</script>

<style scoped>

</style>