<template>
    <div>
        <h3>Production Power :  {{actualConsomation}}/{{productionPower}} Watts</h3>
        <br>
    </div>
</template>

<script>
    export default {
        name: "Generator",
        data (){
            return{
                productionPower: 100,
                actualConsomation: 0
            }
        }
    }
</script>

<style scoped>

</style>