<template>
    <v-layout pt-4>
        <v-flex>
            <v-expansion-panel popout>
                <v-expansion-panel-content
                        v-for="(item, i) in housingModule"
                        :key="i"
                        expand-icon="expand_more"
                >
                    <div slot="header">{{item.title}}</div>
                    <template>
                        <component :is="item.component" v-bind:id="item.id"></component>
                    </template>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-flex>
    </v-layout>
</template>

<script>

    import MakeshiftTent from './MakeshiftTent'

    export default {
        name: "Housing",
        components: {
            MakeshiftTent
        },
        computed: {
            housingModule: function () {
                return this.$store.getters.getHousingModule
            }
        }
    }
</script>

<style scoped>

</style>