<template>
    <v-flex>
        <v-btn @click="addMakeshiftTent" color="success">Build an Makeshift Tent</v-btn>
        <v-data-table
                :headers="headers"
                :items="listOfCreated"
                class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <td class="text-xs-center">{{ props.item.name }}</td>
                <td class="text-xs-center">{{ props.item.level }}</td>
                <td class="text-xs-center">{{ props.item.xp }}</td>
                <td class="text-xs-center">{{ props.item.occupants.length }}</td>
                <td class="text-xs-center">
                    <v-btn @click="removeMakeshiftTent(props.item)" color="error">Destroy</v-btn>
                </td>
            </template>
            <template slot="no-data">
                <v-alert :value="true" color="error" icon="nature_people">
                    Sorry, you haven't any Makeshift Tent
                </v-alert>
            </template>
        </v-data-table>
    </v-flex>
</template>

<script>

    import {MakeshiftTent} from "../data/MakeshiftTent"

    export default {
        name: "MakeshiftTent",
        props: {
            id: Number,
        },
        data () {
            return {
                headers: [
                    { text: 'Name', value: 'Name', align: 'center' },
                    { text: 'Level', value: 'Level', align: 'center' },
                    { text: 'Xp', value: 'Xp', align: 'center' },
                    { text: 'Occupants', value: 'Occupants', align: 'center' },
                    { text: 'Delete', value: 'Delete', align: 'center' },
                ]
            }
        },
        computed:{
            listOfCreated: function () {
                return this.$store.getters.getHousingListOfCreated(this.id)
            }
        },
        methods:{
            addMakeshiftTent(){
                this.$store.commit('addHousingCreatedToList', {id : this.id, item: new MakeshiftTent()})
            },
            removeMakeshiftTent(selected){
                for(let i in selected.occupants){
                    let occupant = selected.occupants[i]
//TODO: Rajouter aussi le module Power
                    if(occupant.isWorking){
                        // Suppresion des occupants de leur travail
                        let listExploitationModule = this.$store.getters.getExploitationListOfCreated(occupant.work.idModule)

                        let indexModule = listExploitationModule.map(function(e) { return e.id; }).indexOf(occupant.work.id)

                        let indexOccupant = listExploitationModule[indexModule].occupants.map(function(e) {
                            return e.id;
                        }).indexOf(occupant.id)

                        listExploitationModule[indexModule].occupants.splice(indexOccupant, 1)
                    }

                    // Suppresion des autochtones
                    this.$store.commit('removeAutochthon', occupant)
                }

                // Suppresion dans la liste des modules Housing
                this.$store.commit('removeHousingCreatedToList', {id: this.id, item: selected})
            }
        }
    }
</script>

<style scoped>

</style>