<template>
    <v-layout pt-5 row wrap>
        <v-flex xs6>
            <p>Moka : {{currentMoka}}</p>
            <p>Nutritious Paste  : {{currentPn}}</p>
            <p>Quantum Fluid  : {{currentQuantiqueFluide}}</p>
            <p>Eletric Power : {{currentPower}} / {{totalPower}} kW</p>
        </v-flex>
        <v-flex xs6>
            <v-btn @click="increaseMoka(1)" large dark color="indigo">
                <v-icon dark>add</v-icon>Harvest Moka
            </v-btn>
            <br>
            <v-btn v-bind:disabled="!shipModuleIsActive('NPF')" @click="increaseNp(1)" large dark color="indigo">
                <v-icon dark>add</v-icon>Melting Nutritious Paste
            </v-btn>
            <br>
            <v-btn v-bind:disabled="!shipModuleIsActive('QG')" @click="increaseQFluid(1)" large dark color="indigo">
                <v-icon dark>add</v-icon>Materialize Quantium Fluid
            </v-btn>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: "Production",
        computed: {
            currentMoka: function () {
                return this.$store.getters.mokas
            },
            currentPn: function () {
                return this.$store.getters.nutritivePates
            },
            totalPower: function () {
                return this.$store.getters.maxEletrics
            },
            currentPower: function () {
                return this.$store.getters.currentEletrics
            },
            currentQuantiqueFluide: function () {
                return this.$store.getters.quantiumFluids
            },
        },
        methods: {
            increaseMoka(n){
                this.$store.commit('incrementMoka', n)
            },
            increaseNp(n){
                this.$store.commit('incrementPn', n)
            },
            increaseQFluid(n){
                this.$store.commit('incrementQFluid', n)
            },
            shipModuleIsActive: function (selected) {
                return this.$store.getters.shipModuleIsDone(selected)
            }
        }
    }
</script>

<style scoped>

</style>