<template>
    <v-container grid-list-xl>
        <v-layout pt-5 justify-center row wrap>
                    <v-flex pb-3
                            v-for="card in cards"
                            v-bind="{ [`xs${card.flex}`]: true }"
                            :key="card.title"
                    >
                        <v-card dark>
                            <v-layout>
                                <v-flex xs6>
                                    <v-card-text>{{card.title}}</v-card-text>
                                </v-flex>
                                <v-flex xs6>
                                    <v-btn v-if="card.isDone" color="success">ONLINE</v-btn>
                                    <v-btn v-else-if="currentMoka >= card.requireMoka" @click="selectFonction(card.fonction, card.requireMoka)">Unlock ({{card.requireMoka}} Mokas)</v-btn>
                                    <v-btn v-else disabled >Unlock ({{card.requireMoka}} Mokas)</v-btn>
                                </v-flex>
                            </v-layout>
                        </v-card>
                    </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "Ship",
        computed:{
            currentMoka: function () {
                return this.$store.getters.mokas
            },
            cards: function () {
                return this.$store.getters.getShipState
            },
        },
        methods: {
            selectFonction(selectedFonction, cost){

                let options = {timeout: 10 * 1000}

                switch (selectedFonction) {
                    case 'CW':
                        this.addTabConstruction()
                        this.setModuleDone(selectedFonction, cost)
                        this.$snotify.success('Construction Workshop is now activated', options)
                        break
                    case 'NPF':
                        this.setModuleDone(selectedFonction, cost)
                        this.$snotify.success('Nutritional Paste Filler is now available in production module', options)
                        break
                    case 'QG':
                        this.setModuleDone(selectedFonction, cost)
                        this.$snotify.success('Quantium Generator is now available in production module', options)
                        break
                    case 'BA':
                        this.setModuleDone(selectedFonction, cost)
                        this.$store.commit('SetElecMax', 100)
                        this.$store.commit('addPowerModule', {id: 0, title: "Solar Panel", component: "SolarPanel", listOfCreated: []})
                        this.$snotify.success('Backup Alternator is now activated', options)
                        this.$snotify.info('Your power generation is now 100 kW', options)
                        break
                }
            },
            addTabConstruction(){
                this.$store.commit('addTab', 'Construction')
            },
            setModuleDone(selected, cost){
                this.$store.commit('setModuleDone', selected)
                this.$store.commit('decreaseMoka', cost)
            }
        }
    }
</script>

<style scoped>

</style>