<template>
    <v-flex>
        <v-btn @click="addSolarPanel" color="success">Build a Solar Panel</v-btn>
        <v-data-table
                :headers="headers"
                :items="listOfCreated"
                class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <td class="text-xs-center">{{ props.item.name }}</td>
                <td class="text-xs-center">{{ props.item.level }}</td>
                <td class="text-xs-center">{{ props.item.xp }}</td>
                <td class="text-xs-center">{{ props.item.occupants.length }}</td>
                <td class="text-xs-center">
                    <v-btn @click="addOneWorker(props.item)" color="info">+1</v-btn>
                </td>
                <td class="text-xs-center">
                    <v-btn @click="removeSolarPanel(props.item)" color="error">Destroy</v-btn>
                </td>
            </template>
            <template slot="no-data">
                <v-alert :value="true" color="error" icon="nature_people">
                    Sorry, you haven't any Solar Panel
                </v-alert>
            </template>
        </v-data-table>
    </v-flex>
</template>

<script>
    import {SolarPanel} from "@/data/SolarPanel";

    export default {
        name: "SolarPanel",
        props: {
            id: Number,
        },
        data () {
            return {
                headers: [
                    { text: 'Name', value: 'Name', align: 'center' },
                    { text: 'Level', value: 'Level', align: 'center' },
                    { text: 'Xp', value: 'Xp', align: 'center' },
                    { text: 'Workers', value: 'Workers', align: 'center' },
                    { text: 'Assign worker', value: 'Assign worker', align: 'center' },
                    { text: 'Delete', value: 'Delete', align: 'center' },
                ]
            }
        },
        computed: {
            listOfCreated: function () {
                return this.$store.getters.getPowerListOfCreated(this.id)
            }
        },
        methods:{
            addSolarPanel(){
                this.$store.commit('addPowerCreatedToList', {id: this.id, item: new SolarPanel()})
            },
            removeSolarPanel(selected){
                for(let i in selected.occupants){
                    selected.occupants[i].isWorking = false
                }
                this.$store.commit('removePowerCreatedToList', {id: this.id, item: selected})
            },
            addOneWorker(selected){
                //TODO: Peut être mettre une liste pour ceux qui travaillent et une pour les chomeurs ? à voir
                if(!selected.isFull()){
                    for(let i in this.$store.getters.getAutochthons){
                        let a = this.$store.getters.getAutochthons[i]
                        if(!a.isWorking){
                            a.isWorking = true
                            a.work = {idModule: this.id, id: selected.id}
                            selected.addOccupant(a)
                            break
                        }
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>