<template>
    <v-flex>
        <v-divider></v-divider>
        <v-layout row wrap>
            <v-flex xs12>
                <v-subheader>Coût</v-subheader>
            </v-flex>
            <div v-for="(costElem, type) in dataBuild.cost" :key="type">
                <v-chip v-if="getResource(costElem.type, costElem.name) > -1" :class="colorBinding.getColor(costElem.name)">
                    {{ translate.getTranslate(costElem.name) }} : {{getResource(costElem.type, costElem.name)}} / {{ costElem.amount }}
                </v-chip>
                <v-chip v-else :class="colorBinding.getColor(costElem.name)">
                    Ressource inconnue
                </v-chip>
            </div>
        </v-layout>
        <v-divider></v-divider>
        <v-subheader>Achat</v-subheader>
        <v-btn v-if="isBuyable(dataBuild.cost)" @click="addBuilding" color="success">Construire</v-btn>
        <v-btn v-else color="red">Ressources insuffisantes</v-btn>
        <v-divider></v-divider>
        <v-subheader>Supervision</v-subheader>
        <component :is="componantBuilding" v-bind:keyBinding=keyBinding v-bind:dataBuild=dataBuild v-bind:listOfCreated="listOfCreated" v-bind:colorBinding="colorBinding" v-bind:translate="translate"></component>
        <v-divider></v-divider>
        <v-subheader>Description</v-subheader>
        <blockquote class="blockquote">{{dataBuild.description}}</blockquote>
    </v-flex>
</template>

<script>
    import ResourceBuilding from "./ResourceBuilding";
    import HabitationBuilding from "./HabitationBuilding";
    import CraftBuilding from "./CraftBuilding";

    export default {
        name: "Building",
        components: {
            ResourceBuilding,
            HabitationBuilding,
            CraftBuilding
        },
        props: {
            keyBinding: String,
            dataBuild: Object,
            functionBuild: Function,
            translate: Object,
            colorBinding: Object,
            componantBuilding: String
        },
        computed: {
            listOfCreated: function () {
                return this.$store.getters.getBuildingStateByType(this.keyBinding, this.dataBuild.id)
            },
            sortConsumes: function () {
                let allBuilding = this.$store.getters.getAllBuilding
                let lstBuildings = []
                for(let type in allBuilding) {
                    for (let indBuilding in allBuilding[type]) {
                        lstBuildings.push(allBuilding[type][indBuilding])
                    }
                }
                return this.$lodash.orderBy(lstBuildings, [function(o) {
                    return o.expectedConso()}])
            }
        },
        methods: {
            addBuilding(){
                let amount = this.dataBuild.cost
                for(let id in amount){
                    this.$store.commit('decrementResource', {type: amount[id].type, name: amount[id].name, amount: amount[id].amount})
                }
                this.$store.commit('addBuilding', {type: this.keyBinding, num: this.dataBuild.id, build: this.functionBuild(this.dataBuild)})
            },
            getResource: function (type, name) {
                return this.$store.getters.getResourceByTypeAndName(type, name)
            },
            isBuyable: function (elemCost) {
                for(let elem of elemCost){
                    if(elem.amount > this.getResource(elem.type, elem.name) || this.getResource(elem.type, elem.name) === '?'){
                        return false
                    }
                }
                return true
            },
        }
    }
</script>

<style scoped>

</style>