<template>
    <v-tabs
            centered
            dark
            icons-and-text
    >
        <v-tabs-slider color="blue"></v-tabs-slider>

        <div v-for="(element, index) in constructionTab" :key="index">
            <v-tab :href="'#' + element.title">
                {{element.title}}
                <v-icon>{{element.icon}}</v-icon>
            </v-tab>
        </div>

        <v-tab-item
                v-for="element in constructionTab"
                :value="element.title"
        >
            <template>
                <Construction v-bind:translate=translate v-bind:colorBinding=colorBinding v-bind:data=buildingData v-bind:keyBinding=element.key></Construction>
            </template>
        </v-tab-item>
    </v-tabs>
</template>
<script>

    import Construction from "./Construction"
    import {BuildingManager} from "../../data/ship/moduleShip/BuildingManager";

    export default {
        name: "Constructions",
        components: {
            Construction
        },
        props: {
            translate: Object,
            colorBinding: Object
        },
        data () {
            return {
                buildingData: new BuildingManager(),
            }
        },
        computed: {
            constructionTab: function () {
                return this.$store.getters.getConstructionState
            }
        }
    }
</script>

<style scoped>

</style>