<template>
    <v-layout pt-4>
        <v-flex>
            <v-expansion-panel popout>
                <v-expansion-panel-content
                        v-for="(item, i) in listOfBuilding"
                        :key="i"
                        expand-icon="expand_more"
                >
                    <div slot="header">{{item.name}}</div>
                    <template>
                        <Building v-bind:translate=translate v-bind:colorBinding=colorBinding v-bind:keyBinding=keyBinding v-bind:dataBuild=item v-bind:functionBuild="functionBuilding" v-bind:componantBuilding="componantBuilding"></Building>
                    </template>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-flex>
    </v-layout>
</template>

<script>

    import Building from "./Building";

    export default {
        name: "Construction",
        components: {
            Building
        },
        props: {
            keyBinding: String,
            data: Object,
            translate: Object,
            colorBinding: Object
        },
        computed: {
            functionBuilding: function () {
                return this.data.getConstructionFunctionFromType(this.keyBinding)
            },
            componantBuilding: function(){
                return this.data.getConstructionComponantFromType(this.keyBinding)
            },
            dataBuilding: function () {
                return this.data.getDataBuildingFromType(this.keyBinding)
            },
            listOfBuilding: function () {
                let listofConstructionUnlock = []
                for(let i in this.dataBuilding){
                    if(this.dataBuilding[i]['condition'] == null){
                        let dBuild = this.dataBuilding[i]
                        dBuild['id'] = i
                        listofConstructionUnlock.push(dBuild)
                    }else{
                        let numPlan = this.dataBuilding[i]['condition'].plan
                        let type = this.dataBuilding[i]['condition'].type
                        let numImpr = this.dataBuilding[i]['condition'].num
                        if(this.laboratory.isUnlock(numPlan, type, numImpr)){
                            let dBuild = this.dataBuilding[i]
                            dBuild['id'] = i
                            listofConstructionUnlock.push(dBuild)
                        }
                    }
                }
                return listofConstructionUnlock
            },
            laboratory: function () {
                return this.$store.getters.getLaboratory
            }
        },
    }
</script>

<style scoped>

</style>