<template>
    <v-data-table
            :headers="headers"
            :items="listOfCreated"
            item-key="key"
            class="elevation-1"
    >
        <template slot="items" slot-scope="props">
            <td class="text-xs-center">{{ props.item.level }}</td>
            <td class="text-xs-center">{{ props.item.xp }}</td>
            <td class="text-xs-center">{{ props.item.occupants.length }} / {{ props.item.maxOccupancy }}</td>
            <td class="text-xs-center">
                <input type="range" min="0" max="100" step="1" v-model="props.item.selectCharge" class="slider" id="myRange">
                {{props.item.selectCharge}}%
            </td>
            <td class="text-xs-center">{{ props.item.actualConso }} / {{ props.item.consumption }}</td>
            <td class="text-xs-center">
                <v-flex v-for="(costElem, type) in props.item.resourceUsed" :key="type">
                    <v-chip v-if="getResource(costElem.type, costElem.name) > -1" :class="colorBinding.getColor(costElem.name)">
                        {{ translate.getTranslate(costElem.name) }} : {{getResource(costElem.type, costElem.name)}} / {{ costElem.amount }}
                    </v-chip>
                    <v-chip v-else :class="colorBinding.getColor(costElem.name)">
                        Ressource inconnue
                    </v-chip>
                </v-flex>
            </td>
            <td class="text-xs-center">{{ props.item.actualProduction }} {{ props.item.resourceCreated.name }}/s</td>
            <td class="text-xs-center">
                <v-btn @click="addWorker(props.item, 1)" color="info">+1</v-btn>
                <v-btn @click="addWorker(props.item, props.item.maxOccupancy)" color="info">+Max</v-btn>
                <v-btn @click="deleteWorker(props.item)" color="error">Vider</v-btn>
            </td>
        </template>
        <template slot="no-data">
            <v-alert :value="true" color="error" icon="nature_people">
                Sorry, you haven't any construction here
            </v-alert>
        </template>
    </v-data-table>
</template>

<script>
    export default {
        name: "CraftBuilding",
        props: {
            listOfCreated: Array,
            translate: Object,
            colorBinding: Object,
            keyBinding: String,
            dataBuild: Object,
        },
        data () {
            return {
                headers: [
                    { text: 'Level', value: 'Level', align: 'center' },
                    { text: 'Xp', value: 'Xp', align: 'center' },
                    { text: 'Occupants', value: 'Occupants', align: 'center' },
                    { text: 'Power Charge', value: 'Power', align: 'center' },
                    { text: 'Power Consumption', value: 'Power Consumption', align: 'center' },
                    { text: 'Consommation', value: 'Consommation', align: 'center' },
                    { text: 'Production', value: 'Production', align: 'center' },
                    { text: 'Assign worker', value: 'Assign worker', align: 'center' },
                ]
            }
        },
        methods: {
            addWorker(selected, amount){
                //TODO: Peut être mettre une liste pour ceux qui travaillent et une pour les chomeurs ? à voir
                for(let i = 0; i < amount; i++){
                    if(!selected.isFull()){
                        for(let i in this.$store.getters.getAutochthons){
                            let a = this.$store.getters.getAutochthons[i]
                            if(!a.isWorking){
                                a.isWorking = true
                                a.work = {typeModule: this.keyBinding, idModule: this.dataBuild.id, id: selected.id}
                                selected.addOccupant(a)
                                break
                            }
                        }
                    }
                }
            },
            deleteWorker(selected){
                for(let i in selected.occupants){
                    selected.occupants[i].isWorking = false
                }
                selected.occupants = []
            },
            getResource: function (type, name) {
                return this.$store.getters.getResourceByTypeAndName(type, name)
            },
        }
    }
</script>

<style scoped>

</style>