<template>
    <v-data-table
            :headers="headers"
            :items="listOfCreated"
            item-key="key"
            class="elevation-1"
    >
        <template slot="items" slot-scope="props">
            <td class="text-xs-center">{{ props.item.level }}</td>
            <td class="text-xs-center">{{ props.item.xp }}</td>
            <td class="text-xs-center">{{ props.item.occupants.length }} / {{ props.item.maxOccupancy }}</td>
            <td class="text-xs-center">
                <input type="range" min="0" max="100" step="1" v-model="props.item.selectCharge" class="slider" id="myRange">
                {{props.item.selectCharge}}%
            </td>
            <td class="text-xs-center">{{ props.item.actualConso }} / {{ props.item.consumption }}</td>
        </template>
        <template slot="no-data">
            <v-alert :value="true" color="error" icon="nature_people">
                Sorry, you haven't any construction here
            </v-alert>
        </template>
    </v-data-table>
</template>

<script>
    export default {
        name: "HabitationBuilding",
        props: {
            listOfCreated: Array,
            translate: Object,
            colorBinding: Object
        },
        data () {
            return {
                headers: [
                    { text: 'Level', value: 'Level', align: 'center' },
                    { text: 'Xp', value: 'Xp', align: 'center' },
                    { text: 'Occupants', value: 'Occupants', align: 'center' },
                    { text: 'Power Charge', value: 'Power', align: 'center' },
                    { text: 'Power Consumption', value: 'Power Consumption', align: 'center' },
                ]
            }
        },
    }
</script>

<style scoped>

</style>