<template>
    <div></div>
</template>

<script>

    import {Autochthon} from "../data/world/Autochthon";
    import {GraphicRepresentationJS} from "../PixiJS/GraphicRepresentationJS";

    export default {
        name: "GameLoop",
        methods: {
            gameLoop(){
                //------ AUTOCHTONS --------//
                this.calculAutochtons()

                //------ TERMINAL --------//
                this.calculTerminal();

                //------ POWER --------//
                this.calculActualConso()

                //------ PRODUCTION --------//
                this.calculProduction()
            },
            calculActualConso(){
                let allBuilding = this.$store.getters.getAllBuilding
                let lstBuildings = []
                for(let type in allBuilding) {
                    for (let indBuilding in allBuilding[type]) {
                        for(let i in allBuilding[type][indBuilding]){
                            lstBuildings.push(allBuilding[type][indBuilding][i])
                        }
                    }
                }
                let consosSort = this.$lodash.orderBy(lstBuildings, [function(o) {
                    return o.expectedConso()}])

                let actuProduction = 0
                let tProduction = 0
                let decrementPower = 0
                let consosleft = consosSort.length
                for(let i = 0; i<consosSort.length; i++){
                    actuProduction = this.$store.getters.getResourceByTypeAndName('power', 'electricity')
                    // Production max disponible par module
                    tProduction = (actuProduction / consosleft)

                    decrementPower = consosSort[i].actualConso = this.$lodash.clamp(((tProduction * consosSort[i].selectCharge) / 100), consosSort[i].consumption).toFixed(2)

                    consosleft--
                    this.$store.commit('decrementResource', {type: 'power', name: 'electricity', amount: decrementPower})
                }
            },
            calculAutochtons(){
                let construction = this.$store.getters.getBuildingState('Habitat')
                let nutritive_p = this.$store.getters.getResourceByTypeAndName('essential', 'nutritious_paste')
                if(nutritive_p > this.$store.getters.getAutochthons.length * 1.5){
                    for(let type in construction){
                        for(let i in construction[type]){
                            //TODO: gerer la monté en xp
                            if(!construction[type][i].isFull()){
                                if(construction[type][i].isFullPower()){
                                    let a = new Autochthon()
                                    GraphicRepresentationJS.addMadao()
                                    a.house = {type: type, id: i}
                                    construction[type][i].addOccupant(a)
                                    this.$store.commit('addAutochthon', a)
                                }
                            }
                        }
                    }
                }
            },
            calculTerminal(){
                //TODO: METTRE TOUT çA DANS UNE BOUCLE
                let transpondeur = this.$store.getters.getTranspondeur
                if(transpondeur.isActivated && transpondeur.amountResourceUse <= this.$store.getters.getResourceByTypeAndName(transpondeur.resouceUse.type, transpondeur.resouceUse.name)){
                    this.$store.commit('decrementResource', transpondeur.resouceUse)
                    this.$store.commit('incrementResource', transpondeur.resourceCreated)
                }
                let alternateur = this.$store.getters.getAlternator
                if(alternateur.isActivated && alternateur.amountResourceUse <= this.$store.getters.getResourceByTypeAndName(alternateur.resouceUse.type, alternateur.resouceUse.name)){
                    this.$store.commit('decrementResource', alternateur.resouceUse)
                    this.$store.commit('incrementResource', alternateur.resourceCreated)
                }
            },
            calculProduction(){
                let buildings = this.$store.getters.getAllBuilding
                for(let type in buildings){
                    for(let indBuilding in buildings[type]){
                        for(let i in buildings[type][indBuilding]){
                            buildings[type][indBuilding][i].getProduction()
                        }
                    }
                }
            }



            // manageProduction(){
            //     //TODO: Faire en sorte que ça conso de l'énergie aussi, mettre en place tout le système eletric
            //     let exploitations = this.$store.getters.getExploitationModule
            //
            //     for(let exploitation in exploitations){
            //
            //         let moduleExpl = exploitations[exploitation].listOfCreated
            //
            //         for(let building in moduleExpl){
            //             this.$store.commit('incrementMoka', moduleExpl[building].mokaProduction())
            //         }
            //     }
            // },
            // managePowerProduction(){
            //     let powerProduction = this.$store.getters.getPowerModule
            //
            //     for(let power in powerProduction){
            //
            //         let modulePower = powerProduction[power].listOfCreated
            //
            //         let powerProducted = 100
            //
            //         for(let building in modulePower){
            //             powerProducted += modulePower[building].electricProduction()
            //         }
            //
            //         this.$store.commit('SetElecMax', powerProducted)
            //     }
            // }
        },
        mounted: function () {
            setInterval(this.gameLoop, 1000)
        }
    }
</script>

<style scoped>

</style>