<template>
    <v-container grid-list-md mt-auto>
        <h1>Plan de recherche</h1>
        <v-expansion-panel popout>
            <v-expansion-panel-content
                    v-for="(element, keyI) in laboratory"
                    :key="keyI"
                    expand-icon="expand_more"
            >
                <div v-if="element.unlock" slot="header"><h2>{{element.name}} <v-icon color="green">done</v-icon></h2></div>
                <v-expansion-panel popout>
                <v-expansion-panel-content v-for="(contents, category) in element.dicoImprovement"
                                           :key="category"
                                           expand-icon="expand_more"
                >
                    <div slot="header"><h3>{{ contents.name }}</h3></div>
                    <v-item-group>
                        <v-container grid-list-md>
                            <v-layout row wrap>
                                <v-flex
                                        v-for="(improve, key) in contents.listOfImprovement"
                                        :key="key"
                                        xs12 sm6 md6 lg4 xl4
                                >
                                    <v-item>
                                        <v-card
                                                slot-scope="{}"
                                                class="align-center"
                                                dark
                                        >
                                            <v-container text-xs-center>
                                                <v-layout row wrap>
                                                    <v-subheader>Nom</v-subheader>
                                                    <v-flex xs12>
                                                        <v-card-text>{{ improve.name }}</v-card-text>
                                                    </v-flex>
                                                    <v-layout v-if="!improve.unlock" row wrap>
                                                        <v-flex xs12>
                                                            <v-subheader>Coût</v-subheader>
                                                        </v-flex>
                                                        <v-flex v-for="(costElem, type) in improve.cost" :key="type">
                                                            <v-chip v-if="getResource(costElem.type, costElem.name) > -1" :class="colorBinding.getColor(costElem.name)">
                                                                {{ translate.getTranslate(costElem.name) }} : {{getResource(costElem.type, costElem.name)}} / {{ costElem.amount }}
                                                            </v-chip>
                                                            <v-chip v-else :class="colorBinding.getColor(costElem.name)">
                                                                Ressource inconnue
                                                            </v-chip>
                                                        </v-flex>
                                                    </v-layout>
                                                    <v-flex xs12>
                                                        <v-subheader>Statut</v-subheader>
                                                        <div class="text-xs-center">
                                                            <v-icon v-if="improve.unlock" color="green">done</v-icon>
                                                            <v-btn v-else-if="!isBuyable(improve.cost)" color="danger">Ressources insuffisantes</v-btn>
                                                            <v-btn v-else @click="buyPlan({indPlan: keyI, category: category, indImpr: key, amount: improve.cost, idFunc: improve.idFunc})" color="info">Acheter</v-btn>
                                                        </div>
                                                    </v-flex>
                                                </v-layout>
                                            </v-container>
                                        </v-card>
                                    </v-item>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-item-group>
                </v-expansion-panel-content>
                </v-expansion-panel>
                <br>
            </v-expansion-panel-content>
        </v-expansion-panel>
        <v-container>
            <v-divider></v-divider>
            <h1>Subvention</h1>
            <v-card dark v-if="nextPlan">
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-card-text><h2>{{nextPlan.name}}</h2></v-card-text>
                    </v-flex>
                    <v-flex v-for="(costElem, type) in nextPlan.cost" :key="type">
                        <v-chip v-if="getResource(costElem.type, costElem.name) > -1" :class="colorBinding.getColor(costElem.name)">
                            {{ translate.getTranslate(costElem.name) }} : {{getResource(costElem.type, costElem.name)}} / {{ costElem.amount }}
                        </v-chip>
                        <v-chip v-else :class="colorBinding.getColor(costElem.name)">
                            Ressource inconnue
                        </v-chip>
                    </v-flex>
                    <v-flex xs12>
                        <div class="text-xs-center">
                            <v-btn v-if="isBuyable(nextPlan.cost)" @click="buyPlanId(nextPlan.id)" color="info">Investir</v-btn>
                            <v-btn v-else color="danger">Ressources insuffisantes</v-btn>
                        </div>
                    </v-flex>
                </v-layout>
            </v-card>
        </v-container>
    </v-container>
</template>

<script>

    export default {
        name: "Laboratory",
        props: {
            translate: Object,
            colorBinding: Object
        },
        computed: {
            laboratory: function () {
                let allLaboratory = this.$store.getters.getLaboratory
                return this.$lodash.filter(allLaboratory.listPlan, function (o) {
                    return o.unlock
                })
            },
            nextPlanAvailable: function () {
                return this.$store.getters.getNextPlanAvailable
            },
            nextPlan: function () {
                return this.nextPlanAvailable
            }
        },
        methods: {
            getResource: function (type, name) {
                return this.$store.getters.getResourceByTypeAndName(type, name)
            },
            isBuyable: function (elemCost) {
                for(let elem of elemCost){
                    if(elem.amount > this.getResource(elem.type, elem.name) || this.getResource(elem.type, elem.name) === '?'){
                        return false
                    }
                }
                return true
            },
            buyPlanId(id){
                this.$store.commit('unlockPlan', id)
            },
            buyPlan: function (dicoIndex) {
                this.$store.dispatch('unlockElemInPlan', dicoIndex)
            },
        }
    }
</script>

<style scoped>

</style>