<template>
    <v-layout>
        <v-layout pt-5 row wrap>
            <v-flex xs6>
                <div v-for="resources in currentRessources" :key="resources.name">
                    <div v-if="!allIsUnlock(resources)">
                        <h2>{{resources.name}}</h2>
                        <div v-for="(element, nameElement) in resources.elements" :key="nameElement">
                            <div v-if="element.amount > -1">
                                {{nameElement}} : {{element.amount}}
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </v-flex>
            <v-flex xs6>
                <v-btn @click="increaseMoka(100)" large dark color="indigo">
                    <v-icon dark>add</v-icon>Harvest Moka
                </v-btn>
            </v-flex>
        </v-layout>
    </v-layout>
</template>

<script>
    export default {
        name: "Oversight",
        computed: {
            currentRessources: function () {
                return this.$store.getters.getBindingResourcesList
            },
        },
        props: {
            translate: Object,
            colorBinding: Object
        },
        methods: {
            increaseMoka(n){
                this.$store.commit('incrementMoka', n)
            },
            allIsUnlock(resources){
                for(let i in resources.elements){
                    if(resources.elements[i].amount > -1){
                        return false
                    }
                }
                return true
            }
        }
    }
</script>

<style scoped>

</style>