<template>
    <v-flex pt-5>
        <v-card-text>Vos Autochtones :</v-card-text>
        <v-data-table
                :headers="headers"
                :items="autochthons"
                class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <td>{{ props.item.name }}</td>
                <td>{{ props.item.level }}</td>
                <td>{{ props.item.isWorking }}</td>
            </template>
            <template slot="no-data">
                <v-alert :value="true" color="error" icon="nature_people">
                    Sorry, no autochthons is with you :(
                </v-alert>
            </template>
        </v-data-table>
    </v-flex>
</template>

<script>
    export default {
        name: "Population",
        data () {
            return {
                headers: [
                    { text: 'Name', value: 'Name', align: 'center' },
                    { text: 'Level', value: 'Level', align: 'center' },
                    { text: 'Working', value: 'Working', align: 'center' },
                ]
            }
        },
        computed: {
            autochthons: function () {
                return this.$store.getters.getAutochthons
            }
        }
    }
</script>

<style scoped>

</style>