<template>
    <v-flex mt-3>
        <h1 class="text-xs-center">Tableau de bord</h1>
        <v-data-table
                :headers="headers"
                :items="terminal"
                class="elevation-1"
                hide-actions
        >
            <template slot="items" slot-scope="props">
                <td class="text-xs-center">{{ props.item.name }}</td>
                <td class="text-xs-center">{{props.item.amountResourceUse}} {{ props.item.resouceUse.name }} => {{props.item.amountResourcecreate}} {{props.item.resourceCreated.name}}</td>
                <v-layout v-if="!isUnlock(props.item.condition)" justify-center>
                    <td class="text-xs-center"><v-btn color="error">OFFLINE</v-btn></td>
                </v-layout>
                <v-layout v-else justify-center fill-height>
                    <td><v-switch @change="toggleActivation(props.item.isActivated, props.item.id)" :label="props.item.isActivated ? 'ON' : 'OFF'" v-model="props.item.isActivated"></v-switch></td>
                </v-layout>
            </template>
        </v-data-table>
    </v-flex>
</template>

<script>
    export default {
        name: "Terminal",
        data () {
            return {
                headers: [
                    { text: 'Module', value: 'Module', align: 'center' },
                    { text: 'Transformation', value: 'Transformation', align: 'center' },
                    { text: 'Commande', value: 'Commande', align: 'center' },
                ]
            }
        },
        props: {
            translate: Object,
            colorBinding: Object
        },
        computed: {
            terminal: function () {
                let listOfCommand = []
                let terminal = this.$store.getters.getTerminal
                for (let i in terminal){
                    terminal[i]['id'] = i
                    listOfCommand.push(terminal[i])
                }
                return listOfCommand
            },
        },
        methods: {
            isUnlock(obj){
                return this.$store.getters.getLaboratory.isUnlock(obj.plan, obj.type, obj.num)
            },
            toggleActivation(val, id){
                this.$store.commit('toggleActivation', {val: val, id: id})
            }
        },
    }
</script>

<style scoped>

</style>