<template>
    <v-container>
        <div>
            <h2>Sign in</h2>
            <v-form ref="form" v-model="valid" id="login-form">
                <v-text-field
                        color="#3f51b5"
                        v-model="email"
                        :rules="emailRules"
                        type="email"
                        label="E-mail"
                        autofocus
                        required
                ></v-text-field>
                <v-text-field
                        color="#3f51b5"
                        type="password"
                        v-model="password"
                        :rules="passwordRules"
                        label="Password"
                        required
                ></v-text-field>
                <v-btn :disabled="!valid" @click="login()">Submit</v-btn>
                <router-link to="/register" color="#3f51b5" class="link">
                    <v-btn flat color="#3f51b5" @click="register()">Register</v-btn>
                </router-link>
            </v-form>
        </div>
    </v-container>
</template>

<script>
    export default {
        name:"Login",
        data: () => ({
            email : "",
            password : "",
            valid: true,
            passwordRules: [
                v => !!v || 'Password is required',
            ],
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+/.test(v) || 'E-mail must be valid'
            ],
        }),
        methods: {
            login: function () {
                let email = this.email
                let password = this.password
                this.$store.dispatch('login', { email, password })
                    .then(() => this.$router.push('/'))
                    .catch(err => this.$snotify.error(err, {timeout: 5000}))
            },
            register: function () {
                this.$router.push('/register')
            }
        }
    };
</script>

<style scoped>
    h2 {
        font-size: 20px;
        text-transform: uppercase;
    }

    #login-form {
        max-width: 500px;
        margin:auto;
    }
</style>