<template>
    <v-container>
        <div>
            <h2>Register</h2>
            <v-form ref="form" v-model="valid" id="register-form">
                <v-text-field
                        color="#3f51b5"
                        v-model="name"
                        :rules="nameRules"
                        type="text"
                        label="Name"
                        required
                        autofocus
                ></v-text-field>
                <v-text-field
                        color="#3f51b5"
                        v-model="email"
                        :rules="emailRules"
                        type="email"
                        label="E-mail"
                        required
                ></v-text-field>
                <v-text-field
                        color="#3f51b5"
                        v-model="password"
                        :rules="passwordRules"
                        type="password"
                        label="Password"
                        required
                ></v-text-field>
                <v-text-field
                        color="#3f51b5"
                        v-model="password_confirmation"
                        :rules="passwordRules"
                        type="password"
                        label="Password confirmation"
                        :error-messages='passwordMatchError()'
                        required
                ></v-text-field>
                <v-btn :disabled="!valid" @click="register()">Register</v-btn>
                <router-link to="/login" class="link">
                    <v-btn flat color="#3f51b5" @click="login()">Sign in</v-btn>
                </router-link>
            </v-form>
        </div>
    </v-container>
</template>

<script>

    export default {

        data: () => ({
            valid: true,
            name: "",
            email: "",
            password: "",
            password_confirmation: "",
            passwordRules: [
                v => !!v || 'Password is required',
                v => (v && v.length <= 20 && v.length >= 6) || 'Password must be more than 6 and less than 20 characters'
            ],
            passwordConfirmationRules: [
                v => !!v || 'Password confirmation is required',
                v => (v && v.length <= 20 && v.length >= 6) || 'Password confirmation must be more than 6 and less than 20 characters'
            ],
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+/.test(v) || 'E-mail must be valid'
            ],
            nameRules: [
                v => !!v || 'Name is required',
                v => (v && v.length <= 20) || 'Name must be less than 20 characters'
            ],
        }),
        methods: {
            passwordMatchError () {
                return (this.password === this.password_confirmation) ? '' : 'Password must match'
            },
            register: function () {
                let data = {
                    name: this.name,
                    email: this.email,
                    password: this.password,
                    confirmPassword: this.password_confirmation
                }
                this.$store.dispatch('register', data)
                    .then(() => {
                        this.$router.push('/login');
                        this.$snotify.success('Registration succesful, please sign in', {timeout: 5000});
                    })
                    .catch(err => this.$snotify.error(err, {timeout: 5000}))
            },
            login: function () {
                this.$router.push('/login')
            }
        }
    }
</script>

<style scoped>

    h2 {
        font-size: 20px;
        text-transform: uppercase;
    }
    #register-form {
        max-width: 500px;
        margin:auto;
    }
</style>