<template>
    <v-app>
        <div id="app">
            <div id="nav">
                <div id='nav-logo'>
                    <span>Moka Online</span>
                </div>
                <div id='nav-menu'>
                    <router-link id="nav-menu-item" to="/">Home</router-link>
                    <span v-if="isLoggedIn"><a id="nav-menu-item" @click="logout">Logout</a></span>
                </div>
            </div>
            <router-view></router-view>
        </div>
        <vue-snotify></vue-snotify>
        <keep-alive>
            <game-loop></game-loop>
        </keep-alive>
    </v-app>
</template>

<script>

    import GameLoop from "./components/GameLoop";

    export default {
        name: "app",
        components: {
            GameLoop,
        },
        computed : {
            isLoggedIn : function(){ return this.$store.getters.isLoggedIn} // Check si connecté
        },
        methods: {
            logout: function () { // Redirection après déconnexion
                this.$store.dispatch('logout')
                    .then(() => {
                        this.$router.push('/login')
                    })
            },
            created: function () { // Requête à l'api qui permet de vérifier que le token n'est pas expiré
                this.$http.interceptors.response.use(undefined, function (err) {
                    return new Promise(function () {
                        if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
                            this.$store.dispatch('logout')
                        }
                        throw err;
                    });
                });
            },
        },
    }
</script>

<style lang="scss">

    @import "~vue-snotify/styles/material";
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');

    .link {
        text-decoration:none;
        color:black;
    }
    #app {
        font-family: 'Open Sans', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
    }
    #nav {
        background-color: #F1F1F1;
        width:100%;
        height: 50px;
        padding: 0px 20px;
        box-shadow: 0 -2px 15px rgba(0,0,0,.2);
    }
    #nav-logo {
        float: left;
        line-height: 50px;
        font-weight: bolder;
        font-size: 16px;
    }
    #nav-menu {
        float: right;
        line-height: 50px;
    }
    #nav-menu-item {
        text-decoration: none;
        color:black;
        margin-left: 20px;
    }
    #nav-menu-item:hover {
        color:#3f51b5;
    }
</style>