<template>
    <div id="app">
        <v-app>
            <v-container>
                <tabs
                    :tabs="tabs"
                    :currentTab="currentTab"
                    :wrapper-class="'default-tabs'"
                    :tab-class="'default-tabs__item'"
                    :tab-active-class="'default-tabs__item_active'"
                    :line-class="'default-tabs__active-line'"
                    @onClick="handleClick"
            ></tabs>
                <v-divider></v-divider>
                <div v-if="currentTab === 'Production'" >
                    <keep-alive>
                        <production></production>
                    </keep-alive>
                </div>
                <div v-if="currentTab === 'Population'">
                    <keep-alive>
                        <population></population>
                    </keep-alive>
                </div>
                <div v-if="currentTab === 'Ship'">
                    <keep-alive>
                        <Ship></Ship>
                    </keep-alive>
                </div>
                <div v-if="currentTab === 'Construction'">
                    <keep-alive>
                        <Constructions></Constructions>
                    </keep-alive>
                </div>
                <keep-alive>
                    <game-loop></game-loop>
                </keep-alive>
            </v-container>
            <vue-snotify></vue-snotify>
        </v-app>
    </div>
</template>
<script>

    import Tabs from 'vue-tabs-with-active-line'
    import Production from '@/components/Production'
    import Population from '@/components/Population'
    import  Ship from  '@/components/Ship'
    import Constructions from '@/components/Constructions'
    import GameLoop from './components/GameLoop'

    export default {
        name: "app",
        components: {
            Tabs,
            Population,
            Production,
            Ship,
            Constructions,
            GameLoop
        },
        data: () => ({
            currentTab: 'Production'
        }),
        computed: {
            tabs: function () {
                return this.$store.getters.getTabs
            },
        },
        methods: {
            handleClick(newTab) {
                this.currentTab = newTab;
            },
        },
    }
</script>

<style lang="scss">

    @import "~vue-snotify/styles/material";

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
    }
    .default-tabs {
        position: relative;
        margin: 0 auto;
        &__item {
            display: inline-block;
            margin: 0 5px;
            padding: 10px;
            padding-bottom: 8px;
            font-size: 16px;
            letter-spacing: 0.8px;
            color: gray;
            text-decoration: none;
            border: none;
            background-color: transparent;
            border-bottom: 2px solid transparent;
            cursor: pointer;
            transition: all 0.25s;
            &_active {
                color: black;
            }
            &:hover {
                border-bottom: 2px solid gray;
                color: black;
            }
            &:focus {
                outline: none;
                border-bottom: 2px solid gray;
                color: black;
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        &__active-line {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            background-color: black;
            transition: transform 0.4s ease, width 0.4s ease;
        }
    }
    .content {
        margin-top: 30px;
        font-size: 20px;
    }
</style>